
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a la Tarea #6!</h1>
        <p class="lead">
            Esta tarea esta basada en el uso de los HTML Helpers.
        </p>
        <hr />
        <a class="btn btn-primary btn-lg" href="Form/Formulario" role="button">Empezar</a>
    </div>

    <br />
</div>

